@model OneCikanUrunViewModel
@{
    ViewData["Title"] = ViewData["AltBaslik"].ToString();
    var _context = new AppDbContext();

    var diller = _context.Diller.ToList() as IEnumerable<Diller>;

    foreach (var item in diller as IEnumerable<Diller>)
    {
        var OneCikanUrunTranslate = Model.OneCikanUrun.OneCikanUrunlerTranslate.FirstOrDefault(x => x.DilId == item.Id);
        if (OneCikanUrunTranslate == null)
        {
            OneCikanUrunTranslate = new OneCikanUrunlerTranslate()
            {
                ModulAdi = "",
                DilId = item.Id,
                Diller = new Diller() { Id = item.Id, DilAdi = item.DilAdi }
            };
            Model.OneCikanUrun.OneCikanUrunlerTranslate.Add(OneCikanUrunTranslate);
        }
    }
}


@section styles
{
    <link href="~/lib/jqueryui/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Admin/Content/Theme/ozelcss/custom.css" rel="stylesheet" type="text/css" />

}

<partial name="_SayfaBreadcrumb" />
<partial name="_BilgiMesaji" />

<form method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="ModulId" value="@ViewContext.HttpContext.Request.Query["ModulId"]" />
    <input type="hidden" asp-for="ModulTipi" value="@ViewContext.HttpContext.Request.Query["ModulTipi"]" />
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title">
                        <i class="ri-edit-box-line"></i> @ViewData["AltBaslik"]
                    </h4>

                    <hr class="my-4">
                    <!--   Nav tabs -->

                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#genel" role="tab">
                                <span class="">Genel</span>
                            </a>
                        </li>
                    </ul>
                    <!--  Tab panes-->
                    <div class="tab-content p-3 text-muted">
                        <div class="tab-pane active" id="genel" role="tabpanel">
                            <!--  Dil panes-->
                            <ul class="nav nav-tabs" role="tablist">
                                @foreach (var dil in ViewBag.Diller as IEnumerable<Diller>)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link @((dil.DilKodlari.DilKodu == "tr-TR")? "active":"")" data-bs-toggle="tab" href="#dil-@(dil.DilKoduId)" role="tab">
                                            <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                            <span class="d-none d-sm-block">@dil.DilAdi</span>
                                        </a>
                                    </li>
                                }
                            </ul>


                            <!--  Tab panes-->
                            <div class="tab-content p-3 text-muted" id="kategoriler">
                                <input type="hidden" asp-for="ModulTipi" value="@Context.Request.Query["ModulTipi"]" />

                                @Html.EditorFor(x => Model.OneCikanUrun.OneCikanUrunlerTranslate)


                                <div class="row mb-3">
                                    <label for="example-text-input" class="col-md-1 col-form-label">Kategoriler</label>
                                    <div class="col-md-9">
                                        <input class="form-control" asp-for="KategoriAutocomplete" type="text" placeholder="Kategoriler">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="example-text-input" class="col-md-1 col-form-label"></label>
                                    <div class="col-md-9">
                                        <div id="SeciliKategorilerAutocomplete" class="well well-sm" style="height: 200px; overflow: auto;">
                                            <section class="panel">
                                                <div class="panel-body">
                                                    <div class="sortable-kategoriler">
                                                        <ol class="sortable ui-sortable-kategoriler">
                                                            @foreach (var kategori in _context.OneCikanUrunToKategoriler.Where(x => x.OneCikanUrunId == Convert.ToInt32(ViewContext.RouteData.Values["Id"])).ToList())
                                                            {
                                                                <li id="SeciliKategorilerAutocomplete@(kategori.Id)">
                                                                    <div>
                                                                        <i class="fa fa-plus"></i>  @(kategori.Kategori.KategorilerTranslate.SingleOrDefault(x => x.Diller.DilKodlari.DilKodu == "tr-TR")?.KategoriAdi)
                                                                        <p style="z-index: 2;float: right;padding-right: 10px;margin-top: 0px;font-size: 12px;font-family: Arial;">
                                                                            <a style="cursor:pointer" class="sayfatosayfaid" data-sayfatosayfaid="@(kategori.Id)"><i class="fa fa-trash"></i> Kaldır</a>
                                                                        </p>
                                                                        <input type="hidden" asp-for="SeciliKategorilerAutocomplete" value="@kategori.KategoriId">
                                                                    </div>
                                                                </li>
                                                            }
                                                        </ol>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-content p-3 text-muted" id="urunler">
                                <div class="row mb-3">
                                    <label for="example-text-input" class="col-md-1 col-form-label">Ürünler</label>
                                    <div class="col-md-9">
                                        <input class="form-control" asp-for="UrunAutocomplete" type="text" placeholder="Urunler">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="example-text-input" class="col-md-1 col-form-label"></label>
                                    <div class="col-md-9">
                                        <div id="SeciliUrunlerAutocomplete" class="well well-sm" style="height: 200px; overflow: auto;">
                                            <section class="panel">
                                                <div class="panel-body">
                                                    <div class="sortable">
                                                        <ol class="sortable ui-sortable-urunler">
                                                            @foreach (var Urun in _context.OneCikanUrunToUrunler.Where(x => x.OneCikanUrunId == Convert.ToInt32(ViewContext.RouteData.Values["Id"])).ToList())
                                                            {
                                                                <li id="SeciliUrunlerAutocomplete@(Urun.Id)">
                                                                    <div>
                                                                        <i class="fa fa-plus"></i>  @(Urun.Urun.UrunlerTranslate.SingleOrDefault(x => x.Diller.DilKodlari.DilKodu == "tr-TR")?.UrunAdi)
                                                                        <p style="z-index: 2;float: right;padding-right: 10px;margin-top: 0px;font-size: 12px;font-family: Arial;">
                                                                            <a style="cursor:pointer" class="sayfatosayfaid" data-sayfatosayfaid="@(Urun.Id)"><i class="fa fa-trash"></i> Kaldır</a>
                                                                        </p>
                                                                        <input type="hidden" asp-for="SeciliUrunlerAutocomplete" value="@Urun.UrunId">
                                                                    </div>
                                                                </li>
                                                            }
                                                        </ol>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content p-3 text-muted" id="urunler">
                                <div class="row mb-3">
                                    <label for="example-text-input" class="col-md-1 col-form-label"></label>
                                    <div class="col-md-9">
                                        <img id="picturePreview" src="@(ViewContext.RouteData.Values["Id"] == null ? "/Content/Upload/Images/resimyok.png" : Model.OneCikanUrun.Banner)" width="200" />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="example-text-input" class="col-md-1 col-form-label">Resim</label>
                                    <div class="col-md-9">
                                        <div class="custom-file">
                                            <input type="file" class="form-control" id="pictureFile" name="SayfaResmi" lang="tr">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="example-text-input" class="col-md-1 col-form-label">Banner Url</label>
                                    <div class="col-md-9">
                                        <input class="form-control" asp-for="OneCikanUrun.BannerUrl" type="text">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="example-text-input" class="col-md-1 col-form-label">Banner Durumu</label>
                                    <div class="col-md-9">
                                        <select class="form-control" asp-for="OneCikanUrun.BannerDurumu" asp-items="Html.GetEnumSelectListWithDefaultValue<SayfaDurumlari>(defaultValue:SayfaDurumlari.Aktif)">
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="example-text-input" class="col-md-1 col-form-label">Desktop Column</label>
                                    <div class="col-md-9">
                                        <select class="form-control" asp-for="OneCikanUrun.ColumnDesktop" asp-items="Html.GetEnumSelectListWithDefaultValue<ColumnSayisi>(defaultValue:ColumnSayisi.Bir)">
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="example-text-input" class="col-md-1 col-form-label">Mobil Column</label>
                                    <div class="col-md-9">
                                        <select class="form-control" asp-for="OneCikanUrun.ColumnMobil" asp-items="Html.GetEnumSelectListWithDefaultValue<ColumnSayisi>(defaultValue:ColumnSayisi.Bir)">
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="example-text-input" class="col-md-1 col-form-label">Durum</label>
                                    <div class="col-md-9">
                                        <select class="form-control" asp-for="Durum" asp-items="Html.GetEnumSelectListWithDefaultValue<SayfaDurumlari>(defaultValue:SayfaDurumlari.Aktif)">
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="example-text-input" class="col-md-1 col-form-label">Sıra</label>
                                    <div class="col-md-9">
                                        <input class="form-control" asp-for="Sira" type="text">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-2 mt-4 center-block">
                        <div class="text-center">
                            <div class="form-group mb-0">
                                <div>
                                    <partial name="_SayfaButonlari" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section scripts
{
    <!--Sayfa Search Filter -->
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('input[name=\'UrunAutocomplete\']').autocomplete({
                source: "/Admin/OneCikanUrunler/UrunAutoComplete",
                minLength: 1,
                select: function (event, ui) {
                    $('#SeciliUrunlerAutocomplete' + ui.item['id']).remove();
                    $('.ui-sortable-urunler').append('<li id="SeciliUrunlerAutocomplete' + ui.item['id'] + '"><div><i class="fa fa-plus"></i>  ' + ui.item['label'] + '<p style="z-index: 2;float: right;padding-right: 10px;margin-top: 0px;font-size: 12px;font-family: Arial;"><a href="#" class="sayfatosayfaid"  data-sayfatosayfaid="' + ui.item['id'] + '"><i class="fa fa-trash"></i> Kaldır</a></p><input type="hidden" name="SeciliUrunlerAutocomplete" value="' + ui.item['id'] + '"></div></li>');
                    ui.item.value = "";
                    AutoComleteSil();
                }
            });
        });


        function AutoComleteSil() {
            $(".sayfatosayfaid").click(function () {
                var sayfatosayfaid = $(this).attr("data-sayfatosayfaid");
                $("#SeciliUrunlerAutocomplete" + sayfatosayfaid).remove();
            });
        }
        AutoComleteSil();
    </script>
    <!--Sayfa Search Filter -->

    <script type="text/javascript">
        $(function () {
            $('input[name=\'KategoriAutocomplete\']').autocomplete({
                source: "/Admin/OneCikanKategoriler/KategoriAutoComplete",
                minLength: 1,
                select: function (event, ui) {
                    $('#SeciliKategorilerAutocomplete' + ui.item['id']).remove();
                    $('.ui-sortable-kategoriler').append('<li id="SeciliKategorilerAutocomplete' + ui.item['id'] + '"><div><i class="fa fa-plus"></i>  ' + ui.item['label'] + '<p style="z-index: 2;float: right;padding-right: 10px;margin-top: 0px;font-size: 12px;font-family: Arial;"><a href="#" class="sayfatosayfaid"  data-sayfatosayfaid="' + ui.item['id'] + '"><i class="fa fa-trash"></i> Kaldır</a></p><input type="hidden" name="SeciliKategorilerAutocomplete" value="' + ui.item['id'] + '"></div></li>');
                    ui.item.value = "";
                    AutoComleteSil();
                }
            });
        });


        function AutoComleteSil() {
            $(".sayfatosayfaid").click(function () {
                var sayfatosayfaid = $(this).attr("data-sayfatosayfaid");
                $("#SeciliKategorilerAutocomplete" + sayfatosayfaid).remove();
            });
        }
        AutoComleteSil();
    </script>


    <!-- Sürükle Bırak Menü-->
    <script src="~/Admin/Content/Theme/ozel/menu-sortable/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="~/Admin/Content/Theme/ozel/menu-sortable/jquery.mjs.nestedSortable.js"></script>
    <!-- Sürükle Bırak Menü-->
    <script>
        //Sayfa Sıralama
        $(document).ready(function () {
            $('ol.sortable').nestedSortable({
                forcePlaceholderSize: true,
                handle: 'div',
                helper: 'clone',
                items: 'li',
                opacity: .6,
                placeholder: 'placeholder',
                revert: 250,
                tabSize: 25,
                tolerance: 'pointer',
                toleranceElement: '> div',
                maxLevels: 10,
                isTree: true,
                expandOnHover: 700,
                startCollapsed: true,
                stop: function () {
                }
            });
        });
        //Sayfa Sıralama
    </script>
}
