@model UyeOlViewModel

@{

    var _context = new AppDbContext();


}


@section styles
{
}
<partial name="_SayfaBreadcrumb" />
<partial name="_BilgiMesaji" />
<form method="post" enctype="multipart/form-data">

    <input type="hidden" asp-for="EmailConfirmed" value="@Model?.EmailConfirmed" />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title">
                        <i class="ri-edit-box-line"></i> @ViewData["AltBaslik"]
                    </h4>

                    <hr class="my-4">
                    <!--   Nav tabs -->

                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#genel" role="tab">
                                <span>Genel</span>
                            </a>
                        </li>
                    </ul>

                    <!--  Tab panes-->
                    <div class="tab-content p-3 text-muted">
                        <div class="tab-pane active" id="genel" role="tabpanel">
                            <!--  Tab panes-->


                            <div class="row mb-3">
                                <label for="example-text-input" class="col-md-1 col-form-label">Rol Ata</label>
                                <div class="col-md-9">
                                    @for (var i = 0; i < Model.Roller.Count; i++)
                                    {
                                        <div class="form-check">
                                            <input asp-for="Roller[i].Exist" class="form-check-input" type="checkbox" id="formCheck@(Model.Roller[i].RoleId)">
                                            <label class="form-check-label" for="formCheck@(Model.Roller[i].RoleId)">
                                                @Model.Roller[i].RoleName
                                            </label>
                                        </div>
                                        <input asp-for="Roller[i].RoleName" type="hidden" />
                                        <input asp-for="Roller[i].RoleId" type="hidden" />
                                    }
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="example-text-input" class="col-md-1 col-form-label">Plasiyer</label>
                                <div class="col-md-9">
                                    <select class="form-control" asp-for="PlasiyerId" asp-items="@ViewData["Plasiyer"] as IEnumerable<SelectListItem>">
                                        <option>Seçiniz</option>
                                    </select>
                                    <span asp-validation-for="PlasiyerId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="example-text-input" class="col-md-1 col-form-label">Ad Soyad</label>
                                <div class="col-md-9">
                                    <input class="form-control" asp-for="Ad" type="text">
                                    <span asp-validation-for="Ad" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="example-text-input" class="col-md-1 col-form-label">Firma Adı</label>
                                <div class="col-md-9">
                                    <input class="form-control" asp-for="FirmaAdi" type="text">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="example-text-input" class="col-md-1 col-form-label">Vergi Dairesi</label>
                                <div class="col-md-9">
                                    <input class="form-control" asp-for="VergiDairesi" type="text">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="example-text-input" class="col-md-1 col-form-label">Vergi No</label>
                                <div class="col-md-9">
                                    <input class="form-control" asp-for="VergiNumarasi" type="text">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="example-text-input" class="col-md-1 col-form-label">İskonto Oranı</label>
                                <div class="col-md-9">
                                    <input class="form-control" asp-for="IskontoOrani" type="number" step="0.01" min="0">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="example-text-input" class="col-md-1 col-form-label">Cari Limit</label>
                                <div class="col-md-9">
                                    <input class="form-control" asp-for="CariLimit" type="number" step="0.01" min="0">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="example-text-input" class="col-md-1 col-form-label">Ülke</label>
                                <div class="col-md-9">
                                    <select class="form-control adres_ulke" data-il="AdresEkle_TeslimatIlId" asp-for="UlkeId" asp-items="@ViewData["Ulkeler"] as IEnumerable<SelectListItem>">
                                        <option value="">Seçiniz</option>
                                    </select>
                                    <span asp-validation-for="UlkeId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="example-text-input" class="col-md-1 col-form-label">İller</label>
                                <div class="col-md-9">

                                    <select class="form-control adres_il" asp-for="IlId" data-ilce="AdresEkle_TeslimatIlceId" asp-items="@ViewData["Iller"] as IEnumerable<SelectListItem>" data-live-search="true">
                                        <option value="">Seçiniz</option>
                                    </select>
                                    <span asp-validation-for="IlId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="example-text-input" class="col-md-1 col-form-label">İlçeler</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="AdresEkle_TeslimatIlceId" asp-for="IlceId" asp-items="@ViewData["Ilceler"] as IEnumerable<SelectListItem>">
                                        <option value="">Seçiniz</option>
                                    </select>
                                    <span asp-validation-for="IlceId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="example-text-input" class="col-md-1 col-form-label">Adres</label>
                                <div class="col-md-9">
                                    <textarea class="form-control" asp-for="Adres" rows="3">@(ViewContext.RouteData.Values["Id"] == null ? "" : Model.Adres)</textarea>
                                    <span asp-validation-for="Adres" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="example-text-input" class="col-md-1 col-form-label">Gsm</label>
                                <div class="col-md-9">
                                    <input class="form-control" asp-for="Gsm" type="text">
                                    <span asp-validation-for="Gsm" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="example-text-input" class="col-md-1 col-form-label">Email</label>
                                <div class="col-md-9">
                                    <input class="form-control" asp-for="Email" type="text">
                                    <span asp-validation-for="Email" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="example-text-input" class="col-md-1 col-form-label">Şifre</label>
                                <div class="col-md-9">
                                    @if (ViewContext.RouteData.Values["Id"] == null)
                                    {
                                        <input asp-for="Password"
                                               class="form-control" autocomplete="new-password" 
                                               data-val="true"
                                               data-val-required="Şifre alanı boş bırakılamaz!" />
                                    }
                                    else
                                    {
                                        <input asp-for="Password" class="form-control" />
                                    }

                                    <span asp-validation-for="Password" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="example-text-input" class="col-md-1 col-form-label">Durum</label>
                                <div class="col-md-9">
                                    <select class="form-control" asp-for="UyeDurumu" asp-items="Html.GetEnumSelectListWithDefaultValue<UyeDurumlari>(defaultValue:UyeDurumlari.Onaylandi)">
                                    </select>
                                </div>
                            </div>
                            <!--  Tab panes-->
                        </div>
                    </div>
                    <div class="col-md-12 mb-2 mt-4 center-block">
                        <div class="text-center">
                            <div class="form-group mb-0">
                                <div>
                                    <partial name="_SayfaButonlari" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section scripts
{
    <script src="~/Admin/Content/Theme/assets/js/pages/form-editor.init.js"></script>

    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/site.js"></script>

    <script>
        function formatDecimal(input) {
            let value = parseFloat(input.value.replace(',', '.'));
            if (!isNaN(value)) {
                input.value = value.toFixed(2).replace('.', ',');
            }
        }
    </script>
} 