@model SayfalarTranslate
@{
    var _context = new AppDbContext();
    var dil = _context.Diller.Where(x => x.Id == Model.DilId).FirstOrDefault();

    var sayfatipi = (SayfaTipleri)Enum.Parse(typeof(SayfaTipleri), Context.Request.Query["SayfaTipi"].ToString());

}

@Html.HiddenFor(x => x.Id)
@Html.HiddenFor(x => x.DilId)


<div class="tab-pane @((dil.DilKodlari.DilKodu == "tr-TR")? "active":"")" id="dil-@(dil.DilKoduId)" role="tabpanel">
    <div class="row mb-3">
        <label for="example-text-input" class="col-md-1 col-form-label">
            @if (sayfatipi == SayfaTipleri.Sartname || sayfatipi == SayfaTipleri.Download)
            {
                <span>Ürün Adı</span>
            }
            else
            {
                <span>Sayfa Adı</span>
            }
        </label>
        <div class="col-md-9">
            <input class="form-control" asp-for="SayfaAdi" type="text">
            <span asp-validation-for="SayfaAdi" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label for="example-text-input" class="col-md-1 col-form-label">
            @if (sayfatipi == SayfaTipleri.Sartname || sayfatipi == SayfaTipleri.Download)
            {
                <span>Marka</span>
            }
            else
            {
                <span>Sayfa Adı Alt Açıklama</span>
            }
        </label>
        <div class="col-md-9">
            <input class="form-control" asp-for="SayfaAdiAltAciklama" type="text">
        </div>
    </div>
    @if (sayfatipi == SayfaTipleri.Sartname || sayfatipi == SayfaTipleri.Download)
    {
        <div class="row mb-3">
            <label for="example-text-input" class="col-md-1 col-form-label">Model</label>
            <div class="col-md-9">
                <input class="form-control" asp-for="SayfaAdiAltAciklama2" type="text">
            </div>
        </div>
    }
    <div class="row mb-3">
        <label for="example-text-input" class="col-md-1 col-form-label">Kısa Açıklama</label>
        <div class="col-md-9">
            <textarea id="elm_@Guid.NewGuid().ToString()" class="ckeditor" asp-for="KisaAciklama"></textarea>
        </div>
    </div>
    <div class="row mb-3">
        <label for="example-text-input" class="col-md-1 col-form-label">Açıklama</label>
        <div class="col-md-9">

            <textarea id="elm_@Guid.NewGuid().ToString()" class="ckeditor" asp-for="Aciklama"></textarea>

        </div>
    </div>
    <div class="row mb-3">
        <label for="example-text-input" class="col-md-1 col-form-label">Meta Başlık</label>
        <div class="col-md-9">
            <input class="form-control" asp-for="MetaBaslik" type="text">
        </div>
    </div>
    <div class="row mb-3">
        <label for="example-text-input" class="col-md-1 col-form-label">Meta Acıklama</label>
        <div class="col-md-9">
            <textarea class="form-control" asp-for="MetaAciklama" rows="3"></textarea>
        </div>
    </div>
    <div class="row mb-3">
        <label for="example-text-input" class="col-md-1 col-form-label">Meta Kelime</label>
        <div class="col-md-9">
            <textarea class="form-control" asp-for="MetaAnahtar" rows="3"></textarea>
        </div>
    </div>
    <div class="row mb-3">
        <label for="example-text-input" class="col-md-1 col-form-label">Breadcrumb Sayfa Adı</label>
        <div class="col-md-9">
            <input class="form-control" asp-for="BreadcrumbAdi" type="text">
        </div>
    </div>
    <div class="row mb-3">
        <label for="example-text-input" class="col-md-1 col-form-label">Breadcrumb Açıklama</label>
        <div class="col-md-9">
            <textarea class="form-control" asp-for="BreadcrumbAciklama" rows="3"></textarea>
        </div>
    </div>
    <div class="row mb-3">
        <label for="example-text-input" class="col-md-1 col-form-label">Youtube Video Linki</label>
        <div class="col-md-9">
            <input class="form-control" asp-for="YoutubeVideoLink" type="text">
        </div>
    </div>
    <div class="row mb-3">
        <label for="example-text-input" class="col-md-1 col-form-label">Buton Adı</label>
        <div class="col-md-9">
            <input class="form-control" asp-for="ButonAdi" type="text">
        </div>
    </div>
    <div class="row mb-3">
        <label for="example-text-input" class="col-md-1 col-form-label">Buton Url</label>
        <div class="col-md-9">
            <input class="form-control" asp-for="ButonUrl" type="text">
        </div>
    </div>
    <div class="row mb-3">
        <label for="example-text-input" class="col-md-1 col-form-label"></label>
        <div class="col-md-9">
            <img src="@(ViewContext.RouteData.Values["Id"] == null ? "/Content/Upload/Images/resimyok.png" : Model.Resim)" width="200" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="example-text-input" class="col-md-1 col-form-label">Kapak Resmi </label>
        <div class="col-md-9">
            <div class="input-group">
                <input type="file" class="form-control" asp-for="SayfaResmi">
            </div>
        </div>
    </div>


    <div class="row mb-3">
        <label for="example-text-input" class="col-md-1 col-form-label"></label>
        <div class="col-md-9">
            <img src="@(ViewContext.RouteData.Values["Id"] == null ? "/Content/Upload/Images/resimyok.png" : Model.Resim2)" width="200" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="example-text-input" class="col-md-1 col-form-label">Ana Sayfa Resim</label>
        <div class="col-md-9">
            <div class="input-group">
                <input type="file" class="form-control" asp-for="SayfaResmi2">
            </div>
        </div>
    </div>

    <!--Dosya-->
    @if (Model.Id > 0)
    {
        <div class="row mb-3">
            <label for="example-text-input" class="col-md-1 col-form-label"></label>
            <div class="col-md-9">
                <div class="custom-file">
                    <a target="_blank" href="@(ViewContext.RouteData.Values["Id"] == null ? "/Content/Upload/Images/resimyok.png" : Model?.Dosya)">
                        <img src="/Admin/Content/Theme/assets/images/dosya.png" width="35">
                    </a>
                </div>
            </div>
        </div>
    }
    <div class="row mb-3">
        <label for="example-text-input" class="col-md-1 col-form-label">Dosya</label>
        <div class="col-md-9">
            <div class="custom-file">
                <input type="file" class="form-control" asp-for="SayfaDosyasi">
            </div>
        </div>
    </div>

    <!--Dosya-->
</div>




