@model IEnumerable<FormBasvurulari>

@{
    ViewData["Title"] = ViewData["Baslik"].ToString();

    var _context = new AppDbContext();

    var controllerValue = HttpContextAccessor.HttpContext.Request.RouteValues["Controller"];

    var sayfaId = Convert.ToInt32(Context.Request.Query["SayfaId"]);

}



<partial name="_SayfaBreadcrumb" />
<partial name="_BilgiMesaji" />

<div class="row">
    <div class="col-lg-12">
        <form method="post" id="pageForm" asp-area="Admin" asp-controller="@controllerValue" asp-action="DeleteAll">
            <div class="card">
                <div class="card-body">
                    @*<partial name="_SayfaHeaderButonlari" />*@
                    <table id="alternative-page-datatable" data-pattern="priority-columns" class="table dt-responsive nowrap w-100">
                        <thead>
                            <tr>
                                <partial name="_SayfaUstCheckbox" />
                                <th>Başvuru Tarihi</th>
                                <th>Başvuru Durumu</th>
                                <th>Cevapları Göster</th>
                            </tr>
                        </thead>
                        <tbody id="tablolist">
                            @foreach (var item in Model.Where(p => p.SayfaId == sayfaId))
                            {
                                <tr>
                                    <partial name="_SayfaAltCheckbox" for="@item" />

                                    <td>
                                        @item.BasvuruTarihi.ToShortDateString()
                                    </td>
                                    <td>
                                        @{
                                            string basvurudurumu = "İncelenmedi";
                                            string basvurudurumrengi = "warning";
                                        }
                                        @if (item.BasvuruDurumu == BasvuruDurumlari.Incelendi)
                                        {
                                            basvurudurumu = "İncelendi";
                                            basvurudurumrengi = "success";
                                        }
                                        <span class="badge badge-soft-@basvurudurumrengi">@basvurudurumu</span>
                                    </td>
                                    <td>
                                        <a asp-controller="Sayfalar" asp-action="FormCevaplari" asp-route-Id="@item.Id" asp-route-SayfaId="@item.SayfaId" class="btn btn-sm btn-primary">Cevapları Göster</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
<partial name="_RemoveModal" />

@section scripts
{
<script src="~/Admin/Content/Theme/assets/js/pages/ecommerce-datatables.init.js"></script>

<script>
    $(document).ready(function () {
        $('.fancybox').fancybox();

        $.fn.fancybox.close = function () {
            //$('#sub_cont').hide(250, function() {
            //    $('#IDsearchform input').val('');
            //});
            alert("?");
        };
        $(".fancybox-effects-a").fancybox({
            helpers: {
                title: {
                    type: 'outside'
                },
                overlay: {
                    speedOut: 0
                }
            }
        });
    });


    $(document).ready(function () {
        $('.fancybox').fancybox();

        $.fn.fancybox.close = function () {
            //$('#sub_cont').hide(250, function() {
            //    $('#IDsearchform input').val('');
            //});
            alert("?");
        };
        $(".fancybox-effects-a").fancybox({
            helpers: {
                title: {
                    type: 'outside'
                },
                overlay: {
                    speedOut: 0
                }
            }
        });
    });


    function GaleriResimleri(id) {
        $.fancybox.open({
            href: '/Admin/Sayfalar/PageImages/' + id + '',
            type: 'iframe',
            width: 1000,
            minHeight: 600,
            padding: 5,
            //closeClick: false,
            onClosed: function () {
                //  Raporla();
                jQuery.fancybox.close();
            },
            afterClose: function () {
                //  Raporla();
                jQuery.fancybox.close();
            },
            mouseWheel: false

        });
    }

</script>
<partial name="_CustomScriptsPartial" />

}