@inject SepetServis _sepetServis
@inject HelperServis _helperServis
@{
    var sepet = await _sepetServis.GetCart();

    var _context = new AppDbContext();

    var odemeMetodu = _context.OdemeMetodlariTranslate.SingleOrDefault(x => x.OdemeMetodId == (int)OdemeMetodTiplieri.BankaHavalesi && x.Diller.DilKodlari.DilKodu == _helperServis.GetCurrentCulture());

    var araToplamTL = (string)await _sepetServis.YeniSepetAraToplamAsync(FiyatTipleri.BayiFiyat, dovizDurum: true, formatted: true, paraBirimiGosterimi: true);
    var kdvToplamTL = (string)await _sepetServis.YeniSepetKdvToplamAsync(FiyatTipleri.BayiFiyat, dovizDurum: true, formatted: true, paraBirimiGosterimi: true);
    var kargoToplam = (string)await _sepetServis.YeniSepetKargoAsync(FiyatTipleri.BayiFiyat, true, true);
    var genelToplamTL = (string)await _sepetServis.YeniSepetGenelToplamAsync(FiyatTipleri.BayiFiyat, dovizDurum: true, formatted: true, paraBirimiGosterimi: true);

    var araToplamUSD = (string)await _sepetServis.YeniSepetAraToplamAsync(FiyatTipleri.BayiFiyat, dovizDurum: false, formatted: true, paraBirimiGosterimi: true);
    var kdvToplamUSD = (string)await _sepetServis.YeniSepetKdvToplamAsync(FiyatTipleri.BayiFiyat, dovizDurum: false, formatted: true, paraBirimiGosterimi: true);
    var genelToplamUSD = (string)await _sepetServis.YeniSepetGenelToplamAsync(FiyatTipleri.BayiFiyat, dovizDurum: false, formatted: true, paraBirimiGosterimi: true);

}
<style>
    .well {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    }
</style>
<div>
    <form method="post" asp-controller="Sepet" asp-action="OdemeSonuc">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="ps-product__name">Ürün</th>
                    <th class="ps-product__meta">Fiyat</th>
                    <th class="ps-product__quantity">Adet</th>
                    <th class="ps-product__subtotal">Toplam</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in sepet)
                {
                    var urun = item.Urunler.UrunlerTranslate.SingleOrDefault(x => x.Diller.DilKodlari.DilKodu == _helperServis.GetCurrentCulture());
                    var seoUrl = _helperServis.GetSeoUrl(Convert.ToInt32(item.UrunId), SeoUrlTipleri.Urun).Result.Url;

                    var urunBayiFiyatDoviz = await _helperServis.GetPriceAsync(item.Urunler.ListeFiyat, FiyatTipleri.BayiFiyat, ParaBirimi.USD, dovizDurum: false, item.UrunId);
                    var urunBayiFiyatTL = await _helperServis.GetPriceAsync(item.Urunler.ListeFiyat, FiyatTipleri.BayiFiyat, ParaBirimi.USD, dovizDurum: true, item.UrunId);
                    var urunSatirToplamUSD = await _helperServis.GetLineSubtotalAsync(item.Urunler.ListeFiyat, FiyatTipleri.BayiFiyat, ParaBirimi.USD, dovizDurum: false, item.Adet, item.UrunId);
                    var urunSatirToplamTL = await _helperServis.GetLineSubtotalAsync(item.Urunler.ListeFiyat, FiyatTipleri.BayiFiyat, ParaBirimi.USD, dovizDurum: true, item.Adet, item.UrunId);

                    <tr>
                        <td class="ps-product__name"><a href="@seoUrl">@urun.UrunAdi</a></td>
                        <td class="ps-product__meta">
                            <span class="ps-product__price" style="display:block">@urunBayiFiyatDoviz.Net.ToString("C2", new System.Globalization.CultureInfo("en-US"))</span>
                            <span style="display:block">@urunBayiFiyatTL.Net.ToString("C2", new System.Globalization.CultureInfo("tr-TR"))</span>
                        </td>
                        <td class="ps-product__quantity">
                            <span>@item.Adet</span>
                        </td>
                        <td class="ps-product__subtotal">
                            <span style="display:block">@urunSatirToplamUSD.Net.ToString("C2", new System.Globalization.CultureInfo("en-US"))</span>
                            <span style="display:block">@urunSatirToplamTL.Net.ToString("C2", new System.Globalization.CultureInfo("tr-TR"))</span>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right"><strong>Ara Toplam</strong></td>
                    <td><strong>@araToplamUSD / @araToplamTL</strong></td>
                </tr>
                <tr>
                    <td colspan="3" class="text-right"><strong>KDV</strong></td>
                    <td><strong>@kdvToplamUSD / @kdvToplamTL</strong></td>
                </tr>
                <tr>
                    <td colspan="3" class="text-right"><strong>Kargo</strong></td>
                    <td><strong>@kargoToplam</strong></td>
                </tr>
                <tr>
                    <td colspan="3" class="text-right"><strong>Genel Toplam</strong></td>
                    <td><strong>@genelToplamUSD / @genelToplamTL</strong></td>
                </tr>
            </tfoot>
        </table>
        <div class="mt-5">
            <h2 style="color: #646464 !important">Banka Havalesi/EFT Talimatları</h2>
            <p><b>Lütfen aşağıdaki banka hesaplarına toplam tutarı yatırınız.</b></p>
            <div class="well well-sm">
                @{
                    string odemeaciklama = odemeMetodu.Aciklama;
                    var odemeList = !string.IsNullOrWhiteSpace(odemeaciklama)
                        ? odemeaciklama.Split(new[] { '\n' }, StringSplitOptions.RemoveEmptyEntries)
                        : Array.Empty<string>();
                }
                <p>
                    <ul style="list-style:none; padding-left:0 !important">
                        @foreach (var item in odemeList)
                        {
                            <li>@item</li>
                        }
                    </ul>
                </p>
                <p>@Localize("SiparisiiptalSuresi")</p>
            </div>
            <div class="clearfix">
                <button type="submit" class="ps-btn ps-btn--warning font-size-20 mb-3 py-3 float-right" style="width:auto !important">
                    @Localize("Genel.SiparisiTamamliyorum")
                </button>
            </div>
        </div>

    </form>
</div>
