@inject HelperServis _helperServis
@inject SepetServis _sepetServis
@{
    var _context = new AppDbContext();

    var shoppingCart = ViewData["shoppingCart"] as SepetServis;

    var sepetIdCookie = Context.Request.Cookies["SepetCookie"];

    var sepet = _context.Sepet.Where(p => p.CookieId == sepetIdCookie).ToList();

    var dil = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>().RequestCulture.Culture.Name;

}



    @foreach (var item in sepet)
    {
        var urun = item.Urunler.UrunlerTranslate.SingleOrDefault(x => x.Diller.DilKodlari.DilKodu == _helperServis.GetCurrentCulture());
        var seoUrl = _helperServis.GetSeoUrl(Convert.ToInt32(item.UrunId), SeoUrlTipleri.Urun).Result.Url;
        var urunResimFirst = _helperServis.GetUrunResimFirst(Convert.ToInt32(item.UrunId), UrunResimKategorileri.UrunResim).Resim;




        var urunListeFiyatDoviz = await _helperServis.GetPriceAsync(item.Urunler.ListeFiyat, FiyatTipleri.ListeFiyat, ParaBirimi.USD, dovizDurum: false);
        string urunListeFiyatDecimaltxt = urunListeFiyatDoviz.Format(true);          // => "₺x.xx"

        var urunListeFiyatTl = await _helperServis.GetPriceAsync(item.Urunler.ListeFiyat, FiyatTipleri.ListeFiyat, ParaBirimi.USD, dovizDurum: true);
        string urunListeFiyatTlDecimaltxt = urunListeFiyatTl.Format(true);          // => "₺x.xx"


        var urunAraToplam = await _helperServis.GetLineSubtotalAsync(
fiyat: item.Urunler.ListeFiyat,
fiyatTipi: FiyatTipleri.ListeFiyat,
paraBirimi: ParaBirimi.USD,
dovizDurum: false,      // TRY’ye çevir
adet: item.Adet,
urunId: urun.Id,
roundPerUnit: false     // satırda yuvarla
);

      <tr class="">
          <td class="text-center">
              <a href="javascript:void()" onclick="SepetUrunSil(@item.UrunId)" class="text-gray-32 font-size-26">×</a>
          </td>
          <td class="ps-product__thumbnail">
              <a class="ps-product__image" href="/@seoUrl">
                  <figure><img src="@urunResimFirst" loading="lazy"></figure>
              </a>
          </td>

          <td data-title="Ürün">
              <a href="@seoUrl" class="text-gray-90">@urun?.UrunAdi</a>
          </td>

          <td data-title="Fiyat">
              <span class="">@urunListeFiyatDecimaltxt</span>
          </td>

          <td data-title="Quantity">
              <span class="sr-only">@Localize("Genel.Adet")</span>
              <!-- Quantity -->
              <div class="border rounded-pill py-1 width-122 w-xl-80 px-3 border-color-1">
                  <div class="js-quantity row align-items-center">
                      <div class="col">
                          <input class="js-result form-control h-auto border-0 rounded p-0 shadow-none" type="text" value="@item.Adet">
                      </div>
                      <div class="col-auto pr-1">
                          <a class="js-minus btn btn-icon btn-xs btn-outline-secondary rounded-circle border-0" onclick="SepeteEkle(@urun.UrunId, 1, '@SepetAdetGuncellemeDurumlari.Azalt', true)">
                              <small class="fa fa-minus btn-icon__inner"></small>
                          </a>
                          <a class="js-plus btn btn-icon btn-xs btn-outline-secondary rounded-circle border-0" onclick="SepeteEkle(@urun.UrunId, 1, '@SepetAdetGuncellemeDurumlari.Arttir', true)">
                              <small class="fa fa-plus btn-icon__inner"></small>
                          </a>
                      </div>
                  </div>
              </div>
              <!-- End Quantity -->
          </td>
          <td  class="ps-product__subtotal" data-title="Ara Toplam">
             @urunAraToplam.Format(true)
          </td>
      </tr>
    }




