@using System.Xml;
@inject HelperServis _helperServis
@inject SepetServis _sepetServis
@{
    var _context = new AppDbContext();


    var sepet = _sepetServis.GetCart().Result;

    var sepetBilgi = _sepetServis.GetSepetBilgi().Result;

    var siteAyariHelper = await _helperServis.GetSiteAyari();
    var siteAyari = siteAyariHelper?.SiteAyarlari;

    var action = HttpContextAccessor.HttpContext.Request.RouteValues["action"].ToString();

    var listeToplamTL = (string)await _sepetServis.YeniSepetAraToplamAsync(FiyatTipleri.ListeFiyat, dovizDurum: true, formatted: true, paraBirimiGosterimi: true);
    var araToplamTL = (string)await _sepetServis.YeniSepetAraToplamAsync(FiyatTipleri.BayiFiyat, dovizDurum: true, formatted: true, paraBirimiGosterimi: true);
    var kdvToplamTl = (string)await _sepetServis.YeniSepetKdvToplamAsync(FiyatTipleri.BayiFiyat, dovizDurum: true, formatted: true, paraBirimiGosterimi: true);
    var kargoToplam = (string)await _sepetServis.YeniSepetKargoAsync(FiyatTipleri.ListeFiyat, true, true);
    string genelToplamTL = (string)await _sepetServis.YeniSepetGenelToplamAsync(FiyatTipleri.BayiFiyat, dovizDurum: true, formatted: true, paraBirimiGosterimi: true);

    var listeToplamUSD = (string)await _sepetServis.YeniSepetAraToplamAsync(FiyatTipleri.ListeFiyat, dovizDurum: false, formatted: true, paraBirimiGosterimi: true);
    var araToplamUSD = (string)await _sepetServis.YeniSepetAraToplamAsync(FiyatTipleri.BayiFiyat, dovizDurum: false, formatted: true, paraBirimiGosterimi: true);
    var kdvToplamUSD = (string)await _sepetServis.YeniSepetKdvToplamAsync(FiyatTipleri.BayiFiyat, dovizDurum: false, formatted: true, paraBirimiGosterimi: true);
    var genelToplamUSD = (string)await _sepetServis.YeniSepetGenelToplamAsync(FiyatTipleri.BayiFiyat, dovizDurum: false, formatted: true, paraBirimiGosterimi: true);

    ViewBag.MetaTitle = "Sepet";
    ViewBag.MetaAnahtar = siteAyariHelper?.MetaAnahtar ?? "";
    ViewBag.MetaAciklama = siteAyariHelper?.MetaAciklama ?? "";
}

@section Scripts
{
}

<div class="ps-shopping">
    <div class="container">
        <ul class="ps-breadcrumb">
            <li class="ps-breadcrumb__item"><a href="#">@Localize("Genel.Sepet")</a></li>
            <li class="ps-breadcrumb__item active" aria-current="page">@Localize("Genel.Sepet")</li>
        </ul>
        @if (sepet.Count > 0)
        {
            <partial name="_BilgiMesaji" />

            <div class="ps-shopping__content">
                <div class="row">
                    <div class="col-12 col-md-7 col-lg-9">
                        <ul class="ps-shopping__list" id="sepetListesiMobil">

                            @foreach (var item in sepet)
                            {
                                var urun = item.Urunler.UrunlerTranslate.SingleOrDefault(x => x.Diller.DilKodlari.DilKodu == _helperServis.GetCurrentCulture());
                                var seoUrl = _helperServis.GetSeoUrl(Convert.ToInt32(item.UrunId), SeoUrlTipleri.Urun).Result.Url;
                                var urunResimFirst = _helperServis.GetUrunResimFirst(Convert.ToInt32(item.UrunId), UrunResimKategorileri.UrunResim).Resim;

                                var urunBayiFiyatDoviz = await _helperServis.GetPriceAsync(item.Urunler.ListeFiyat, FiyatTipleri.BayiFiyat, ParaBirimi.USD, dovizDurum: false, item.UrunId);
                                var urunBayiFiyatTL = await _helperServis.GetPriceAsync(item.Urunler.ListeFiyat, FiyatTipleri.BayiFiyat, ParaBirimi.USD, dovizDurum: true, item.UrunId);
                                var urunSatirToplamUSD = await _helperServis.GetLineSubtotalAsync(item.Urunler.ListeFiyat, FiyatTipleri.BayiFiyat, ParaBirimi.USD, dovizDurum: false, item.Adet, item.UrunId);
                                var urunSatirToplamTL = await _helperServis.GetLineSubtotalAsync(item.Urunler.ListeFiyat, FiyatTipleri.BayiFiyat, ParaBirimi.USD, dovizDurum: true, item.Adet, item.UrunId);


                                <li>
                                    <div class="ps-product ps-product--wishlist">
                                        <div class="ps-product__remove"><a href="javascript: void(0)" onclick="SepetUrunSil(@item.UrunId)"><i class="icon-cross"></i></a></div>
                                        <div class="ps-product__content">
                                            <div class="ps-product__info">
                                                <div class="ps-product__image-wrapper">
                                                    <a href="/@seoUrl">
                                                        <img src="@urunResimFirst" alt="@urun.UrunAdi" class="ps-product__image" loading="lazy" />
                                                    </a>
                                                </div>
                                                <h5 class="ps-product__title"><a href="/@seoUrl">@urun.UrunAdi</a></h5>
                                            </div>
                                            <div class="ps-product__row">
                                                <div class="ps-product__label">@Localize("Genel.Fiyat"):</div>
                                                <div class="ps-product__value">
                                                    <span class="ps-product__price">@urunBayiFiyatDoviz.Net.ToString("C2", new System.Globalization.CultureInfo("en-US"))</span>
                                                    <span class="ps-product__is-price" style="text-decoration:none !important">@urunBayiFiyatTL.Net.ToString("C2", new System.Globalization.CultureInfo("tr-TR"))</span>
                                                </div>
                                            </div>

                                            <div class="ps-product__row">
                                                <div class="ps-product__label">@Localize("Genel.Adet"):</div>
                                                <div class="ps-product__value">@item.Adet</div>
                                            </div>

                                            <div class="ps-product__row">
                                                <div class="ps-product__label">@Localize("Genel.AraToplamListeFiyat"):</div>
                                                <div class="ps-product__value">
                                                    <span class="ps-product__price" style="display:block">@urunSatirToplamUSD.Net.ToString("C2", new System.Globalization.CultureInfo("en-US"))</span>
                                                    <span class="ps-product__is-price" style="display:block; text-decoration:none !important">@urunSatirToplamTL.Net.ToString("C2", new System.Globalization.CultureInfo("tr-TR"))</span>
                                                </div>
                                            </div>

                                            <!-- Diğer içerikler burada devam eder -->
                                        </div>
                                    </div>
                                </li>

                            }

                        </ul>
                        <div class="ps-shopping__table">
                            <table class="table ps-table ps-table--product">
                                <thead>
                                    <tr>
                                        <th class="ps-product__remove"></th>
                                        <th class="ps-product__thumbnail"></th>
                                        <th class="ps-product__name">@Localize("Genel.Urun")</th>
                                        <th class="ps-product__meta">@Localize("Genel.Fiyat")</th>
                                        <th class="ps-product__quantity">@Localize("Genel.Adet")</th>
                                        <th class="ps-product__subtotal">@Localize("Genel.Toplam")</th>
                                    </tr>
                                </thead>
                                <tbody id="sepetListesi">
                                    @foreach (var item in sepet)
                                    {
                                        var urun = item.Urunler.UrunlerTranslate.SingleOrDefault(x => x.Diller.DilKodlari.DilKodu == _helperServis.GetCurrentCulture());
                                        var seoUrl = _helperServis.GetSeoUrl(Convert.ToInt32(item.UrunId), SeoUrlTipleri.Urun).Result.Url;
                                        var urunResimFirst = _helperServis.GetUrunResimFirst(Convert.ToInt32(item.UrunId), UrunResimKategorileri.UrunResim).Resim;

                                        var urunBayiFiyatDoviz = await _helperServis.GetPriceAsync(item.Urunler.ListeFiyat, FiyatTipleri.BayiFiyat, ParaBirimi.USD, dovizDurum: false, item.UrunId);
                                        var urunBayiFiyatTL = await _helperServis.GetPriceAsync(item.Urunler.ListeFiyat, FiyatTipleri.BayiFiyat, ParaBirimi.USD, dovizDurum: true, item.UrunId);
                                        var urunSatirToplamUSD = await _helperServis.GetLineSubtotalAsync(item.Urunler.ListeFiyat, FiyatTipleri.BayiFiyat, ParaBirimi.USD, dovizDurum: false, item.Adet, item.UrunId);
                                        var urunSatirToplamTL = await _helperServis.GetLineSubtotalAsync(item.Urunler.ListeFiyat, FiyatTipleri.BayiFiyat, ParaBirimi.USD, dovizDurum: true, item.Adet, item.UrunId);


                                        <tr>
                                            <td class="ps-product__remove"> <a href="javascript: void(0)" onclick="SepetUrunSil(@item.UrunId)"><i class="icon-cross"></i></a></td>
                                            <td class="ps-product__thumbnail">
                                                <a class="ps-product__image" href="/@seoUrl">
                                                    <figure><img src="@urunResimFirst" loading="lazy"></figure>
                                                </a>
                                            </td>
                                            <td class="ps-product__name"> <a href="/@seoUrl">@urun.UrunAdi</a></td>
                                            <td class="ps-product__meta">
                                                <span class="ps-product__price" style="display:block">@urunBayiFiyatDoviz.Net.ToString("C2", new System.Globalization.CultureInfo("en-US"))</span>
                                                <span class="ps-product__is-price" style="display:block; text-decoration:none !important">@urunBayiFiyatTL.Net.ToString("C2", new System.Globalization.CultureInfo("tr-TR"))</span>
                                            </td>
                                            <td data-title="Quantity">
                                                <span class="sr-only">@Localize("Genel.Adet")</span>
                                                <!-- Quantity -->
                                                <div class="border rounded-pill py-1 width-122 w-xl-80 px-3 border-color-1">
                                                    <div class="js-quantity row align-items-center">
                                                        <div class="col">
                                                            <input class="js-result form-control h-auto border-0 rounded p-0 shadow-none" type="text" value="@item.Adet">
                                                        </div>
                                                        <div class="col-auto pr-1">
                                                            <a class="js-minus btn btn-icon btn-xs btn-outline-secondary rounded-circle border-0" onclick="SepeteEkle(@urun.UrunId, 1, '@SepetAdetGuncellemeDurumlari.Azalt', true)">
                                                                <small class="fa fa-minus btn-icon__inner"></small>
                                                            </a>
                                                            <a class="js-plus btn btn-icon btn-xs btn-outline-secondary rounded-circle border-0" onclick="SepeteEkle(@urun.UrunId, 1, '@SepetAdetGuncellemeDurumlari.Arttir', true)">
                                                                <small class="fa fa-plus btn-icon__inner"></small>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Quantity -->
                                            </td>
                                            <td class="ps-product__subtotal">
                                                <span style="display:block">@urunSatirToplamUSD.Net.ToString("C2", new System.Globalization.CultureInfo("en-US"))</span>
                                                <span style="display:block">@urunSatirToplamTL.Net.ToString("C2", new System.Globalization.CultureInfo("tr-TR"))</span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div id="kupon">
                            <div class="ps-shopping__footer">
                                <div class="ps-shopping__coupon">
                                    <input class="form-control ps-input" type="text" name="KuponKodu" placeholder="@Localize("Genel.KuponKodu")">
                                    <button class="ps-btn ps-btn--primary" type="button" id="btnKupon">@Localize("Genel.KuponKullan")</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-md-5 col-lg-3" id="sepetGenelToplam">
                        <div class="ps-shopping__label">@Localize("Genel.SepetToplam")</div>
                        <div class="ps-shopping__box">
                            <div class="ps-shopping__row">
                                <div class="ps-shopping__label">@Localize("Genel.AraToplamListeFiyat")</div>
                                <div class="ps-shopping__price"><span class="ps-product__is-price">@listeToplamUSD / @listeToplamTL</span> </div>
                            </div>
                            <div class="ps-shopping__row">
                                <div class="ps-shopping__label">@Localize("Genel.AraToplamBayiFiyat")</div>
                                <div class="ps-shopping__price">@araToplamUSD / @araToplamTL</div>
                            </div>
                            <div class="ps-shopping__row">
                                <div class="ps-shopping__label">@Localize("Genel.AraToplamKdv")</div>
                                <div class="ps-shopping__price">@kdvToplamUSD / @kdvToplamTl</div>
                            </div>
                            @if (!string.IsNullOrEmpty(sepetBilgi.KuponKodu))
                            {
                                <div class="ps-shopping__row">
                                    <div class="ps-shopping__label">@Localize("Genel.Kupon")</div>
                                    <div class="ps-shopping__price">- @(_sepetServis.KuponHesapla().Result.kuponIndirimTL)</div>
                                </div>
                            }
                            <div class="ps-shopping__row">
                                <div class="ps-shopping__label">@Localize("Genel.Kargo")</div>
                                <div class="ps-shopping__price">@kargoToplam</div>
                            </div>
                            <div class="ps-shopping__row">
                                <div class="ps-shopping__label">@Localize("Genel.GenelToplam")</div>
                                <div class="ps-shopping__price">@genelToplamUSD / @genelToplamTL</div>
                            </div>
                            <div class="ps-shopping__checkout">
                                <a class="ps-btn ps-btn--warning" asp-controller="Sepet" asp-action="Kasa">@Localize("Genel.AlisverisiTamamla")</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        }
        else
        {
    <div>@Localize("Genel.SepetinizBos")</div>
        }
    </div>
</div>