@model DilCeviriViewModel
@{
    ViewData["Title"] = ViewData["AltBaslik"].ToString();
    var _context = new AppDbContext();
    var diller = _context.Diller.ToList() as IEnumerable<Diller>;

    foreach (var item in diller as IEnumerable<Diller>)
    {
        var DilCeviriTranslate = Model.DilCeviri.DilCeviriTranslate.FirstOrDefault(x => x.DilId == item.Id);
        if (DilCeviriTranslate == null)
        {
            DilCeviriTranslate = new DilCeviriTranslate()
            {
                Deger = "",
                DilId = item.Id,
                Diller = new Diller() { Id = item.Id, DilAdi = item.DilAdi }
            };
            Model.DilCeviri.DilCeviriTranslate.Add(DilCeviriTranslate);
        }
    }
}


@section styles
{

}

<partial name="_SayfaBreadcrumb" />
<partial name="_BilgiMesaji" />

<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title">
                        <i class="ri-edit-box-line"></i> @ViewData["AltBaslik"]
                    </h4>

                    <hr class="my-4">
                    <!--   Nav tabs -->

                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#genel" role="tab">
                                <span class="">Genel</span>
                            </a>
                        </li>
                    </ul>
                    <!--  Tab panes-->
                    <div class="tab-content p-3 text-muted">
                        <div class="tab-pane active" id="genel" role="tabpanel">
                            <!--  Dil panes-->
                            <ul class="nav nav-tabs" role="tablist">
                                @foreach (var dil in ViewBag.Diller as IEnumerable<Diller>)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link @((dil.DilKodlari.DilKodu == "tr-TR")? "active":"")" data-bs-toggle="tab" href="#dil-@(dil.DilKoduId)" role="tab">
                                            <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                            <span class="d-none d-sm-block">@dil.DilAdi</span>
                                        </a>
                                    </li>
                                }
                            </ul>


                            <!--  Tab panes-->
                            <div class="tab-content p-3 text-muted">
                                <div class="row mb-3">
                                    <label for="example-text-input" class="col-md-1 col-form-label">Anahtar</label>
                                    <div class="col-md-9">
                                        <input class="form-control" asp-for="DilCeviri.Anahtar" asp-is-readonly="@(ViewContext.RouteData.Values["Id"] == null ? false : true)" type="text" />
                                        <span asp-validation-for="DilCeviri.Anahtar" class="text-danger"></span>
                                    </div>
                                </div>
                                @Html.EditorFor(x => Model.DilCeviri.DilCeviriTranslate)
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 mb-2 mt-4 center-block">
                        <div class="text-center">
                            <div class="form-group mb-0">
                                <div>
                                    <partial name="_SayfaButonlari" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</form>






@section scripts
{
    
}
