@inject HelperServis _helperServis
@model MenuYerleri
@{

    var _context = new AppDbContext();

    var anamenu = _helperServis.GetMenu(Model).Result;

    var aktifDil = _helperServis.GetCurrentCulture();
    var controller = HttpContextAccessor.HttpContext.Request.RouteValues["controller"].ToString();
    var action = HttpContextAccessor.HttpContext.Request.RouteValues["action"].ToString();

    string anamenulicss = "";
    string altmenulicss = "";

    string anamenuacss = "";
    string altmenuacss = "";

    string anamenuulcss = "sub-menu";
    string altmenuulcss = "sub-menu";


    var url = "";
    string active = "";

    string sekmeDurumu = "";
    string altsekmeDurumu = "";

    url = ViewContext.RouteData.Values["url"]?.ToString();

    void AnaMenu(IEnumerable<HelperServis.MenulerDTO> anamenu)
    {


        foreach (HelperServis.MenulerDTO item in anamenu)
        {
            var menuhosturl = _helperServis.GetMenuUrl(item.Id, item.MenuTipi, item.MenuYeri);

            switch (item.SekmeDurumu)
            {
                case MenuSekmeleri.AyniSekme:
                    sekmeDurumu = "_self";
                    break;
                case MenuSekmeleri.YeniSekme:
                    sekmeDurumu = "_blank";
                    break;
                default:
                    break;
            }


            if (item.MenulerTranslate.SingleOrDefault(p => p.DilKodu == aktifDil)?.Url == url)
            {
                active = "";
            }
            else
            {
                active = "";
            }



            if (item.AltMenuler.Count() > 0)
            {

                <li class="@altmenulicss">
                    <a href="@menuhosturl" class="@anamenuacss" target="@sekmeDurumu">
                        @(item.MenulerTranslate.SingleOrDefault(p=> p.DilKodu == aktifDil)?.MenuAdi)
                    </a>
                    <span class="sub-toggle"><i class="fa fa-chevron-down"></i></span>
                    <ul class="@anamenuulcss">
                        @{
                            AltMenu(item);
                        }
                    </ul>
                </li>
            }
            else
            {

                <li class="@anamenulicss @active">

                    <a class="@anamenuacss" href="@menuhosturl" target="@sekmeDurumu">
                        @(item.MenulerTranslate.SingleOrDefault(p=> p.DilKodu == aktifDil)?.MenuAdi)
                    </a>

                </li>
            }
        }

    }

    void AltMenu(HelperServis.MenulerDTO menu)
    {

        foreach (HelperServis.MenulerDTO altmenu in menu.AltMenuler.OrderBy(p => p.Sira))
        {
            var menuhosturl = _helperServis.GetMenuUrl(altmenu.Id, altmenu.MenuTipi, altmenu.MenuYeri);

            switch (altmenu.SekmeDurumu)
            {
                case MenuSekmeleri.AyniSekme:
                    altsekmeDurumu = "_self";
                    break;
                case MenuSekmeleri.YeniSekme:
                    altsekmeDurumu = "_blank";
                    break;
                default:
                    break;
            }

            if (altmenu.AltMenuler.Count() > 0)
            {

                string colcss = "";


                    if (altmenu.ParentMenu  !=  null && altmenu.ParentMenu.MenuKolon > 0)
                    {
                        var colsayisi = 12 / altmenu.ParentMenu.MenuKolon;
                        colcss = "col-md-" + colsayisi;
                    }


                <li class="@altmenulicss @colcss">
                    <a href="@menuhosturl" class="@altmenuacss" target="@altsekmeDurumu">
                        @(altmenu.MenulerTranslate.SingleOrDefault(p => p.DilKodu == aktifDil)?.MenuAdi)
                    </a>
                    <span class="sub-toggle"><i class="fa fa-chevron-down"></i></span>
                    @if (altmenu.AltMenuler.Count() > 0)
                    {
                        <ul class="@altmenuulcss">
                            @{
                                AltMenu(altmenu);
                            }
                        </ul>
                    }
                </li>
            }
            else
            {

                <li class="@anamenulicss">
                    <a href="@menuhosturl" class="@anamenuacss" target="@altsekmeDurumu">
                        @(altmenu.MenulerTranslate.SingleOrDefault(p => p.DilKodu == aktifDil)?.MenuAdi)
                    </a>
                </li>

            }
        }
    }

}

@{
    AnaMenu(anamenu);
}


