@model Sayfalar
@inject HelperServis _helperServis
@{
    var siteAyariHelper = await _helperServis.GetSiteAyari();
    var siteAyari = siteAyariHelper?.SiteAyarlari;
    var adresBilgiHelper = await _helperServis.GetAdresBilgi();


    var sayfalar = _helperServis.GetSayfalar(SayfaTipleri.Blog, 1, 500);
    var sayfa = _helperServis.GetSayfa(Model.Id).Result;

    var oncekiBlog = _helperServis.GetOncekiSayfa(Model.Id, SayfaTipleri.Blog).Result;
    var oncekiBlogUrl = _helperServis.GetOncekiSayfaUrl(Model.Id, SeoUrlTipleri.Blog).Result.Url;

    var sonrakiBlog = _helperServis.GetSonrakiSayfa(Model.Id, SayfaTipleri.Blog).Result;
    var sonrakiBlogUrl = _helperServis.GetSonrakiSayfaUrl(Model.Id, SeoUrlTipleri.Blog).Result?.Url;

    var parentSayfa = _helperServis.GetParentSayfa2(Model.Id).Result;

    var sayfaResim = _helperServis.GetSayfaResim(Model.Id).Result;

    var url = ViewContext.RouteData.Values["url"].ToString();
    var urlId = _helperServis.GetUrl(url);

    var dil = _helperServis.GetCurrentCulture();

    ViewBag.MetaTitle = siteAyariHelper?.MetaBaslik ?? "";
    ViewBag.MetaAnahtar = siteAyariHelper?.MetaAnahtar ?? "";
    ViewBag.MetaAciklama = siteAyariHelper?.MetaAciklama ?? "";
}



<div class="ps-post ps-post--sidebar">
    <div class="container">
        <ul class="ps-breadcrumb">
            <li class="ps-breadcrumb__item"><a href="#">Blog</a></li>
            <li class="ps-breadcrumb__item active"><a href="#">@sayfa.SayfaAdi</a></li>
        </ul>
        <div class="ps-post__content">
            <div class="row">
                <div class="col-12 col-md-12">
                    <h1 class="ps-post__title">@sayfa.SayfaAdi</h1>
                    <div class="ps-blog__meta"> <span class="ps-blog__date">@sayfa.Sayfalar.Tarih.ToLongDateString()</span></div>
                    @*<div class="ps-blog__banner"> <img src="@sayfaResim" alt="" loading="lazy"></div>*@
                    <p class="ps-blog__text-large">
                        @Html.Raw(sayfa.Aciklama)
                    </p>
                </div>
                
            </div>
        </div>
    </div>
    
</div>